[submodule "libft"]
	path = libft
	url = https://github.com/abdoachhoubi/libft

[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/abdoachhoubi/get_next_line

[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/abdoachhoubi/ft_printf

[submodule "pipex"]
	path = pipex
	url = git@github.com:abdoachhoubi/pipex.git

[submodule "so_long"]
    path = so_long
    url = git@github.com:abdoachhoubi/so_long.git

[submodule "push_swap"]
    path = so_long
    url = git@github.com:abdoachhoubi/so_long.git
